<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registro de Pedidos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="static/css/fondo.css"
	th:href="@{/css/fondo.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<header th:replace="layout/plantilla :: encabezado"></header>
   
	<div class="container mt-4">
		<form th:action="@{/guardarnuevoPedidos}" th:object=${peds} method="POST">
			
			<div class="mb-3">
				<label for="id_Pedido" class="form-label">Codigo de Producto</label> <input
					th:field="*{id_Pedido}" class="form-control" type="text"
					placeholder="id_Pedido" aria-label="id_Pedido" disabled>
			</div>
			<div class="mb-3">
				<label for="idproducto" class="form-label">Productos</label>
				<textarea th:field="*{producto}" class="form-control"
					required="required" id="producto" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="idtam" class="form-label">Tamaño</label>
				<textarea th:field="*{tam}" class="form-control"
					required="required" id="tam" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="idsabor" class="form-label">Sabor</label>
				<textarea th:field="*{sabor}" class="form-control"
					required="required" id="sabor" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="idcolor" class="form-label">Color</label>
				<textarea th:field="*{color}" class="form-control"
					required="required" id="color" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="idcantidad" class="form-label">Cantidad</label>
				<input th:field="*{cantidad}" class="form-control" type="number" required="required"
					id="cantidad" rows="3"></input>
			</div>
			<div class="mb-3">
				<label for="idcliente" class="form-label">Cliente</label>
				<textarea th:field="*{cliente}" class="form-control" required="required"
					id="cliente" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="idtel" class="form-label">Telefono</label>
				<textarea th:field="*{tel}" class="form-control" required="required"
					id="tel" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="idfechaP" class="form-label">Fecha de Pedido</label> 
				<input th:field="*{fechaP}" class="form-control" type="date"
					placeholder="fechaP" aria-label="fechaP">
			</div>
			<div class="mb-3">
				<label for="idfechaE" class="form-label">Fecha de Entrega</label> <input
					th:field="*{fechaE}" class="form-control" type="date"
					placeholder="dia/Mes/Año hora:minutos" aria-label="fechaE">
			</div>
					

			<button type="submit" class="btn btn-primary">Guardar</button>
			<button type="submit" class="btn btn-warning">Cancelar</button>
		</form>
	</div>

	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>