<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mermeladas En inventario</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
<!-- Nuestro css-->
    	<link rel="stylesheet" type="text/css" href="static/css/fondo.css" th:href="@{/css/fondo.css}">

</head>
<body>
	<header th:replace="layout/plantilla :: encabezado"></header>
	<H1>MERMELADAS EN INVENTARIOS</H1>
	<br/>
	<a th:href="@{/nuevoIMermeladas}" class="btn btn-primary">Registrar Nuevo producto</a> <!--Nueva Mermelada -->

	<div class="container-lg">

		<table class="table">
			<thead class="table-dark table-sm">
				<tr>
					<th scope="col">[[#{BD.TB-TITULO1}]]</th><!-- id_PL -->
					<th scope="col">SABOR</th><!-- sabor -->
					<th scope="col">TAMAÑO</th><!-- preCB -->
					<th scope="col">CANTIDAD</th><!-- preCG -->
					<th scope="col">FECHA DE REGISTRO</th><!-- preCG -->
					<th scope="col">FECHA DE CADUCIDAD</th><!-- preCG -->
					<th scope="col">[[#{BD.TB-TITULO9}]]</th><!--Editar -->
					<th scope="col">[[#{BD.TB-TITULO10}]]</th><!-- Eliminar -->
			</thead>
			<tbody>
				<tr th:each="m:${ame}">
					<td th:text="${m.id_RM}">Codigo de producto</td>
					<td th:text="${m.sabor}">Sabor</td>
					<td th:text="${m.tam}">PrecioCH</td>
					<td th:text="${m.cantidad}">PrecioGB</td>
					<td th:text="${m.fechaR}">PrecioGB</td>
					<td th:text="${m.fechaC}">PrecioGB</td>
															<td >
					<a th:href="@{/editarIMermeladas/}+${m.id_RM}" class="btn btn-warning">[[#{BD.TB-TITULO9}]]</a>
					</td>
					<td>
					<a th:href="@{/eliminarIMermeladas/}+${m.id_RM}" class="btn btn-danger">[[#{BD.TB-TITULO10}]]</a>
					</td>
			</tbody>
		</table>
	</div>

	<br>

	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>